form(action="") 
    .text-field__header.pagination-slider_position
        label.text-field__name(for="pagination") Pagination
    .pagination
        .pagination__body 
            button
                span.material-icons.material-icons_pagination-left arrow_forward  
            button.pagination__button_active 1
            button.pagination__button 2
            button.pagination__button 3
            button.pagination__button ...
            button.pagination__button 15
            button.pagination__button
                span.material-icons.material-icons_pagination-right arrow_forward  
        .pagination__count 1 – 12 из 100+ вариантов аренды
