form(action="") 
    .text-field__header.pagination-slider_position
        label.text-field__name(for="pagination") Pagination
    .pagination
        .pagination__body 
            button
                span.material-icons.material-icons_pagination-left arrow_forward  
            button 1
            button 2
            button 3
            button ...
            button 15
            button
                span.material-icons.material-icons_pagination-right arrow_forward  
        .pagination__count 1 – 12 из 100+ вариантов аренды
