form(action="")
    .text-field__body.checkbox-buttons_position
        label.text-field__name(for="like-button") Like button
    .text-field__like-button
        .text-field__like-button-block.position-mr20#js-like-color
            span.material-icons.material-icons_like favorite_border
            input#lb1.like(type="checkbox")
            label(for="lb1") 2
        .text-field__like-button-block.position-mr20#js-like-color
            span.material-icons.material-icons_like favorite
            input#lb2.like(
                type="checkbox"
                checked
                )
            label(for="lb2") 12