form(action="")
    .text-field__body.checkbox-buttons_position
        p.text-field__name Like button
    .text-field__like-button
        .text-field__like-button-block.position-mr20
            //- button#js-like-button.like-button
            //-     span.like-button__value 2
            span.material-icons.material-icons_like favorite_border
            input#lb1.like(type="checkbox")
            label#js-like-color.js-like-count(for="lb1") 2
        .text-field__like-button-block.position-mr20
            //- button#js-like-button.like-button 
            //-     span.like-button__value 12
            span.material-icons.material-icons_like.material-icons_like-color favorite
            input#lb2.like(
                    type="checkbox"
                    checked
                    )
            label#js-like-color.js-like-count(for="lb2") 12 
            