form(action="")
    .text-field__body.checkbox-buttons_position
        p.text-field__name Like button
    .text-field__like-button
        .text-field__like-button-block.position-mr20#js-like-color
            button#js-like-button.like-button
                span.like-button__value 2
        .text-field__like-button-block.position-mr20#js-like-color
            button#js-like-button.like-button 
                span.like-button__value 12
            