footer
    .footer-mobile__container
        .footer-mobile__block
            .footer-mobile__body
                a(href="/"): img(src="../images/logo.svg" alt="logo")
            p.footer-mobile__title Copyright © 2018 Toxin отель. Все права защищены.
            .footer-mobile__body-icon
                a(href="").footer-mobile__icon: img(src="../images/twitter.svg" alt="twitter")
                a(href="").footer-mobile__icon: img(src="../images/facebook.svg" alt="facebook")
                a(href="").footer-mobile__icon: img(src="../images/instagram.svg" alt="instagram")