.form-elements__range-slider
    form(action="/").position-filter266
        .text-field__header.range-slider_position
            label.text-field__name(for="range-slider") Range slider
            .text-field__body-slider
                label.text-field__name-fn.js-value-lower
                span  - 
                label.text-field__name-fn.js-value-upper 
        .slider-styled(id="slider")