@import "../components/headers & footers/footer/footer.scss";
@import "nullstyle.scss";
@import "../components/headers & footers/header/header.scss";
@import "../components/headers & footers/footer-mobile/footer-mobile.scss";
@import "../components/colors&type/colors&type.scss";
@import "../components/form-elements/form-elements.scss";
@import "../components/cards/cards.scss";
@import "../components/pagination/pagination.scss";
@import "../components/air-datepicker/air-datepicker.scss";
@import "../components/range-slider/range-slider.scss";
@import "../components/toggle/toggle.scss";
@import "../components/like-button/like-button.scss";
@import "../components/dropdown-guest/dropdown-guest.scss";
@import "../components/dropdown-default/dropdown-default.scss";
@import "../components/expandable-checkbox/expandable-checkbox.scss";
@import "../components/rate-button/rate-button.scss";
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@mixin mb($mb) {
	margin-bottom: ($mb);
}
html,
body {
    font-family: 'Montserrat';
    background-color: #F4F4F6;
    color:rgba(31, 32, 65, 1);
	font-weight: 400;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1440px;
	overflow-x: hidden; 
	padding: 0 140px;
}
@media (max-width:1180px) {
	.container {
		padding: 0 10px;
		margin: 0 auto;
		max-width: 1180px;
		overflow-x: hidden; 
	}
}
.first-logo {
	margin: 30px 0 62px 30px;
}
// position teg into index.pug
.marBtm40 {
	margin-bottom: 40px;
}
//landing-page
.landing-page {
	background: url(../images/landing-page.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	&-block{
		display: block;
		text-align: right;
		&__text {
			width: 297px;
			position: absolute;
			top: 93%;
			right: 134px;
			line-height: 24px;
			color: rgba(31, 32, 65, 0.75);
		}
	}	
	&_abs{
		padding: 70px 0 386px 140px;
	}
}
@media (max-width:900px) {
	.landing-page {
		display: flex;
		justify-content: center;
		&_abs{
			padding: 70px 0 386px 0;
		}
	}
}
//sign-in
.sign-in {
	background: url(../images/registration.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	padding: 172px 0;
}
//reg
.reg {
	background: url(../images/registration.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	padding: 19px 0;
}
//room-details
.room-details {
	background-color: #FFFFFF;
	border-bottom: 1px solid rgba(31, 32, 65, 0.25);
	& h6 {
		font-family: 'Montserrat';
		font-weight: 700;
		font-size: 19px;
		line-height: 23px;
		color: #1F2041;
		margin-bottom: 20px;
	}
	&__img{
		display: flex;
		& img {
			object-fit: cover;
			vertical-align: top;
		}
		&-left{
			flex: 1 1 67%;
		}
		&-right{
			display: flex;
			flex-direction: column;
			flex: 1 1 33%;
		}
	}
	&__body{
	}
	&__wrapper{
		padding: 70px 0;
	}
	&__content{
		display: flex;
		justify-content: space-between;
		&-block{
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			margin-right: 69px;
			width: 100%;
		}
	}
}
.number-block{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 10px;
}
.about-number {
	display: flex;
	flex-direction: column;
}
.impression{
	display: flex;
}
.reviews-world{
	margin-bottom: 30px;
	&__title {
		display: flex;
		justify-content: space-between;
		& span {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 14px;
			text-align: right;
			color: rgba(31, 32, 65, 0.5);
		}
	}
	&__position {
		margin-bottom: 22px;
	}
}
.rule {
	& h6 {
		padding-left: 20px;
	}
}
.other {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.cancel {
	flex: 0 1 341px;
	& p {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		color: rgba(31, 32, 65, 0.75);
	}
}