@import "../components/headers & footers/footer/footer.scss";
@import "nullstyle.scss";
@import "../components/headers & footers/header-up/header-up.scss";
@import "../components/headers & footers/header-down/header-down.scss";
@import "../components/headers & footers/footer-mobile/footer-mobile.scss";
@import "../components/colors&type/colors&type.scss";
@import "../components/form-elements/form-elements.scss";
@import "../components/cards/cards.scss";
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
html,
body {
    font-size: 14px;
    font-family: 'Montserrat';
    background-color: #F4F4F6;
    color:rgba(31, 32, 65, 1);
}
.wrapper {
    margin: 0 auto;
    max-width: 1440px;
	overflow-x: hidden; 
}
.first-logo {
	margin: 30px 0 62px 30px;
}
// position teg into index.pug
.position40 {
	margin-bottom: 40px;
}
//landing-page
.landing-page {
	background: url(/images/landing-page.jpg);
	height: 100vh;
	position: relative;
	&-block{
		display: block;
		text-align: right;
		&__text {
			width: 297px;
			position: absolute;
			top: 93%;
			right: 134px;
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: rgba(31, 32, 65, 0.75);
		}
	}	
	&_abs{
		position: absolute;
		top: 70px;
		left: 140px;
	}
}
//sign-in
.sign-in {
	background: url(/images/registration.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 683px;
}
//reg
.reg {
	background: url(/images/registration.jpg);
	height: 683px;
	display: flex;
	justify-content: center;
	align-items: center;
}
