@import "../components/headers & footers/footer/footer.scss";
@import "nullstyle.scss";
@import "../components/headers & footers/header-up/header-up.scss";
@import "../components/headers & footers/header-down/header-down.scss";
@import "../components/headers & footers/footer-mobile/footer-mobile.scss";
@import "../components/colors&type/colors&type.scss";
@import "../components/form-elements/form-elements.scss";
@import "../components/cards/cards.scss";
@import "../components/pagination/pagination.scss";
@import "../components/air-datepicker/air-datepicker.scss";
@import "../components/range-slider/range-slider.scss";
@import "../components/toggle/toggle.scss";
@import "../components/like-button/like-button.scss";
@import "../components/dropdown-guest/dropdown-guest.scss";
@import "../components/dropdown-default/dropdown-default.scss";
@import "../components/expandable-checkbox/expandable-checkbox.scss";
@import "../components/rate-button/rate-button.scss";
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@mixin mb($mb) {
	margin-bottom: ($mb);
}
html,
body {
    font-family: 'Montserrat';
    background-color: #F4F4F6;
    color:rgba(31, 32, 65, 1);
	font-weight: 400;
}
.wrapper {
    // margin: 0 auto;
    // width: 1440px;
	// overflow-x: hidden; 
	display: flex;
	flex-direction: column;
}
.first-logo {
	margin: 30px 0 62px 30px;
}
// position teg into index.pug
.marBtm40 {
	margin-bottom: 40px;
}
//landing-page
.landing-page {
	background: url(../images/landing-page.jpg) no-repeat;
	height: 900px;
	position: relative;
	&-block{
		display: block;
		text-align: right;
		&__text {
			width: 297px;
			position: absolute;
			top: 93%;
			right: 134px;
			line-height: 24px;
			color: rgba(31, 32, 65, 0.75);
		}
	}	
	&_abs{
		position: absolute;
		top: 70px;
		left: 140px;
	}
}
//sign-in
.sign-in {
	background: url(../images/registration.jpg) no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 683px;
}
//reg
.reg {
	background: url(../images/registration.jpg) no-repeat;
	height: 683px;
	display: flex;
	justify-content: center;
	align-items: center;
}
