sectipn.cards
    .cards__container
        .cards__container_left 
            include ../find-number/find-number.pug
            include ../registration/registration.pug
        .cards__container_middle 
            include ../choice/choice.pug
            include ../entry/entry.pug
        .cards__container_right 
            .calendar.cards-position40(id="calendar")
            include ../appartment/appartment.pug
            .appartment 
                .appartment__img 
                    ul 
                        li 
                            img(src="/images/appartment2.png", alt="appartment")
                        li 
                        li 
                        li 
                    .appartment__img-slider-bar 
                        ul 
                            li 
                            li 
                            li 
                            li 
                .appartment__body 
                    .appartment__title 
                        .find-number__header.cards-position20
                            .find-number__name №<span>840</span> <span></span>
                            .find-number__title <span>9 990₽</span> в сутки
                        .appartment-feedback
                            .appartment__rate-button-block
                                span.material-icons_star.material-icons star
                                span.material-icons_star.material-icons star
                                span.material-icons_star.material-icons star
                                span.material-icons_star.material-icons star
                                span.material-icons_star.border.material-icons star_border
                            .appartment-block <span>65</span> Отзывов
            
                    

                