sectipn.cards
    img.first-logo(src="/images/first-logo.svg", alt="first-logo")
    .cards__container
        .cards__container_left 
            .find-number 
                h1.cards-position20 Найдём номера под ваши пожелания
                .find-number__dropdown.cards-position20
                    form(action="")
                        .date
                            .date-dropdown
                                .text-field__header 
                                    label.text-field__name(for="date-picker-cal1") Прибытие
                                .text-field__body
                                    label(for="date-picker-cal1").material-icons expand_more
                                    input.text-field__input-date-dropdown.position-filter150(type="text" id="date-picker-cal1" placeholder="дд.мм.гг" autocomplete="off")
                            .date-dropdown
                                .text-field__header 
                                    label.text-field__name(for="date-picker-cal2") Выезд
                                .text-field__body
                                    label(for="date-picker-cal2").material-icons expand_more
                                    input.text-field__input-date-dropdown.position-filter150(type="text" id="date-picker-cal2" placeholder="дд.мм.гг" autocomplete="off")
                .find-number__body.cards-position30
                    form(action="").position-filter320
                        .text-field__header 
                            label.text-field__name(for="field-guest") Гости
                        .text-field__body
                            label(for="field-guest").material-icons expand_more
                            input.text-field__input-guest.position-input-large-area(type="text" id="field-guest" placeholder="Сколько гостей")
                .find-number__button-pay 
                    .button-pay
                        a(href="#").button-pay__link Подобрать номер
                            span.material-icons.material-icons_white arrow_forward  
            .registration
                h1.cards-position20 Регистрация аккаунта
                .registration__text-field.cards-position10
                    form(action="/").position-filter320
                        input.text-field__input.position-input-large-area(type="text" id="field" placeholder="Имя" )
                .registration__text-field.cards-position10
                    form(action="/").position-filter320
                        input.text-field__input.position-input-large-area(type="text" id="field" placeholder="Фамилия" )
                .registration__radio-buttons.cards-position20
                    form(action="")
                        ul.text-field__radio-buttons
                            li 
                                input(type="radio" name="reg" id="reg1" checked)
                                label(for="reg1") Мужчина 
                            li 
                                input(type="radio" name="reg" id="reg2")
                                label(for="reg2") Женщина 
                .registration__masked-text-field.cards-position20
                    form(action="")
                        .text-field__header 
                            label.text-field__name(for="masked-text-field") Дата рождения
                        input.text-field__masked-text-field.position-input-large-area(type="text" id="masked-text-field" placeholder="дд.мм.гг" ) 
                .registration__text-field.cards-position10
                    form(action="/").position-filter320
                        .text-field__header
                            label(for="field").text-field__name Данные для входа в сервис 
                        input.text-field__input.position-input-large-area(type="text" id="field" placeholder="Email" )
                .registration__text-field.cards-position10
                    form(action="/").position-filter320
                        input.text-field__input.position-input-large-area(type="text" id="field" placeholder="Пароль" )
                .registration__toggle
                    form(action="")
                        ul.text-field__toggle.cards-position20
                            li 
                                input(type="checkbox" class="switch" id="reg-sw")
                                label(for="reg-sw") Получать спецпредложения 
                .registration__button-pay.cards-position30
                    .button-pay
                        a(href="#").button-pay__link Перейти к оплате
                            span.material-icons.material-icons_white arrow_forward  
                .registration__sign-in 
                    p Уже есть аккаунт на Toxin
                    button.button-click-sec Войти
        .cards__container_middle 
            .choice 
                .find-number 
                    .find-number__header.cards-position20
                        .find-number__name №<span>888</span> <span>люкс</span>
                        .find-number__title <span>9 990₽</span> в сутки
                    .find-number__dropdown.cards-position20
                        form(action="")
                            .date
                                .date-dropdown
                                    .text-field__header 
                                        label.text-field__name(for="date-picker") Прибытие
                                    .text-field__body
                                        label(for="date-picker").material-icons expand_more
                                        input.text-field__input-date-dropdown.position-filter150(type="text" id="date-picker" placeholder="19.08.2019" autocomplete="off")
                                .date-dropdown
                                    .text-field__header 
                                        label.text-field__name(for="date-picker") Выезд
                                    .text-field__body
                                        label(for="date-picker").material-icons expand_more
                                        input.text-field__input-date-dropdown.position-filter150(type="text" id="date-picker" placeholder="23.08.2019" autocomplete="off")
                    .find-number__guest.cards-position20
                        form(action="").position-filter320
                            .text-field__header 
                                label.text-field__name(for="field-guest") Гости
                            .text-field__body
                                label(for="field-guest").material-icons expand_more
                                input.text-field__input-guest.position-input-large-area(type="text" id="field-guest" placeholder="3 гостя")
                    .find-number__body.cards-position30
                        .find-number__body-block.cards-position10
                            .find-number__body-block_left
                                p 9 990₽ х 4 суток
                            .find-number__body-block_right
                                p 39 960₽
                        .find-number__body-block.cards-position10
                            .find-number__body-block_left
                                p Сбор за услуги: скидка 2 179₽
                                span(title="Вам бесплатно:)") i
                            .find-number__body-block_right
                                p 0₽
                        .find-number__body-block 
                            .find-number__body-block_left
                                p Сбор за дополнительные услуги
                                span(title="Обязательный сбор") i
                            .find-number__body-block_right
                                p 300₽
                    .find-number__price.cards-position20 
                        p Итого
                        span 
                        p 38 081₽
                    .find-number__button-pay 
                        .button-pay
                            a(href="#").button-pay__link Забронировать
                                span.material-icons.material-icons_white arrow_forward  
            .entry 
                .registration
                    h1.cards-position20 Войти
                    .registration__text-field.cards-position10
                        form(action="/").position-filter320
                            input.text-field__input.position-input-large-area(type="text" id="field" placeholder="Email" )
                    .registration__text-field.cards-position20
                        form(action="/").position-filter320
                            input.text-field__input.position-input-large-area(type="text" id="field" placeholder="Пароль" )
                    .registration__button-pay.cards-position30
                        .button-pay
                            a(href="#").button-pay__link Войти
                                span.material-icons.material-icons_white arrow_forward  
                    .registration__sign-in 
                        p Нет аккаунта на Toxin?
                        button.button-click-sec Создать
        .cards__container_right 
            .calendar.cards-position40(id="calendar")
            .appartment.cards-position40
                .appartment__img 
                    ul 
                        li 
                            img(src="/images/appartment1.png", alt="appartment")
                        li 
                        li 
                        li 
                    .appartment__img-slider-bar 
                        ul 
                            li 
                            li 
                            li 
                            li 
                    span.material-icons.material-icons_img-right expand_more
                    span.material-icons.material-icons_img-left expand_more
                .appartment__body 
                    .appartment__title 
                        .find-number__header.cards-position20
                            .find-number__name №<span>888</span> <span>люкс</span>
                            .find-number__title <span>9 990₽</span> в сутки
                        .appartment-feedback
                            .appartment__rate-button-block
                                span.material-icons_star.material-icons star
                                span.material-icons_star.material-icons star
                                span.material-icons_star.material-icons star
                                span.material-icons_star.material-icons star
                                span.material-icons_star.material-icons star
                            .appartment-block <span>145</span> Отзывов
            .appartment 
                .appartment__img 
                    ul 
                        li 
                            img(src="/images/appartment2.png", alt="appartment")
                        li 
                        li 
                        li 
                    .appartment__img-slider-bar 
                        ul 
                            li 
                            li 
                            li 
                            li 
                .appartment__body 
                    .appartment__title 
                        .find-number__header.cards-position20
                            .find-number__name №<span>840</span> <span></span>
                            .find-number__title <span>9 990₽</span> в сутки
                        .appartment-feedback
                            .appartment__rate-button-block
                                span.material-icons_star.material-icons star
                                span.material-icons_star.material-icons star
                                span.material-icons_star.material-icons star
                                span.material-icons_star.material-icons star
                                span.material-icons_star.border.material-icons star_border
                            .appartment-block <span>65</span> Отзывов
            
                    

                