section.form-elements
    img.first-logo(src="/images/first-logo.svg", alt="first-logo")
    .form-elements__container 
        .form-elements__text-field
            .text-field__header
                .text-field__name Text field 
                .text-field__name-fn default
            input.text-field__input(type="text" placeholder="Email" )
        .form-elements__text-field
            .text-field__header
                .text-field__name Text field 
                .text-field__name-fn Hover / Focus
            input.text-field__input-active(type="text" placeholder="This is pretty awesome") 