@import "../../colors&type/colors&type.scss";
.footer {
    line-height: calc(17 / 14 * 100%);
    margin: 0 0 40px 0;
    &__container{
        background-color: #ffffff;
        justify-content: space-around;
        padding: 0 140px 0 142px;
    }
    &-up {
        padding: 100px 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        &__logo {
            margin-bottom: 20px;
        }
        &__text {
            line-height: calc(24 / 14 * 100%);
            color: $darkshade5;
            &-right {
                margin-bottom: 20px;
                line-height: calc(24 / 14 * 100%);
                color: $darkshade5;
            }
        }
        &__block{
            display: flex;
            flex-direction: column;
            flex: 0 0 260px;
            margin-right: 40px;
        }
        &__nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & ul {
                &:first-child {
                    flex: 0 0 143px;
                    margin-right: 57px;
                } 
                &:nth-child(2){
                    flex: 0 0 108px;
                    margin-right: 92px;
                } 
                &:nth-child(3){
                    flex: 0 0 149px;
                    margin-right: 51px;
                } 
             }
        }
        &__title {
            font-weight: 700 ;
            font-size: 12px;
            line-height: calc(15 / 12 * 100%);
            text-transform: uppercase;
            margin-bottom: 21px;
            & a {
                color: $darkshade;
            }
        }
        &__item { 
            display: flex;
            flex-direction: column;
            & li {
                margin-bottom: 20px;
                
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &__list {
            color: $darkshade5;
        }
        &__input {
            border: 1px solid $darkshade25;
            border-radius: 4px;
            &-position {
                padding: 8px 80px 8px 15px;
            }
        }
        &__arrow {
            position: relative;
        }
        &::after{
            content: "";
            position: absolute;
            top: 360px;
            left: -140px;
            background:  rgba(31, 32, 65, 0.1);
            height: 1px;
            width: 1440px;
        }
    }
    &-down {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 26px 0;
            &__title {
                color: $darkshade75;
            }
            &__icon {
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
    }
}