footer.footer
    .footer__container
        .footer-up
            .footer-up__block
                a(href="#").footer-up__logo
                    img(src="images/logo.svg", alt="logo")
                p.footer-up__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            nav.footer-up__nav
                ul.footer-up__item
                    li
                        a(href="").footer-up__list Навигация  
                    li
                        a(href="").footer-up__list О нас  
                    li
                        a(href="").footer-up__list Новости 
                    li
                        a(href="").footer-up__list Служба поддержки 
                    li
                        a(href="").footer-up__list Услуги 
                ul.footer-up__item
                    li
                        a(href="").footer-up__list О нас  
                    li
                        a(href="").footer-up__list О сервисе  
                    li
                        a(href="").footer-up__list Наша команда 
                    li
                        a(href="").footer-up__list Вакансии 
                    li
                        a(href="").footer-up__list Инвесторы
                ul.footer-up__item
                    li
                        a(href="").footer-up__list Служба поддержки    
                    li
                        a(href="").footer-up__list Соглашения  
                    li
                        a(href="").footer-up__list Сообщества 
                    li
                        a(href="").footer-up__list Связь с нами 
                ul.footer-up__item
                    li
                        a(href="").footer-up__list Подписка
                    p.footer-up__text-right Получайте специальные предложения и новости сервиса
                    .footer-up__button
                        form(action="") 
                            input.footer-up__input.footer-up__input-position(type="text" placeholder="Email" name="button")
                            label.footer-up__arrow(for="before")
                            a.footer-up__arrow(href="#") 
                                span.material-icons.material-icons_arrow arrow_forward       
        .footer-down
            p.footer-down__title Copyright © 2018 Toxin отель. Все права защищены.
            .footer-down__link
                    a(href="").footer-down__icon
                        img(src="images/twitter.svg", alt="twitter")
                    a(href="").footer-down__icon
                        img(src="images/facebook.svg", alt="facebook")
                    a(href="").footer-down__icon
                        img(src="images/instagram.svg", alt="instagram")