.form-elements__dropdown-guest 
    form(action="").position-filter320
        .text-field__header 
            label.text-field__name(for="field-guest") Dropdown
        .text-field__body.js-input-guest
            i.material-icons.js-material-hidden expand_more
            input#field-guest.text-field__input-guest.position-input-large-area(
                type="text" 
                placeholder="Сколько гостей"
                autocomplete="off"
                )
        .text-field__block-list-hidden
            .text-field__list
                .text-field__list-dropdown
                    ul 
                        li Взрослые
                        li Дети
                        li Младенцы
                .text-field__list-btn  
                    ul  
                        li.text-field__list-btn_col
                            button#btnMinus -
                            span#countValue 0
                            button#btnPlus +
                        li.text-field__list-btn_col
                            button#btnMinusChild -
                            span#countValueChild 0
                            button#btnPlusChild +
                        li.text-field__list-btn_col
                            button -
                            span 0
                            button +
            .text-field__button
                button Применить