@import "../../colors&type/colors&type.scss";
.header-up {
    &__container {
        background-color: #ffffff;
        padding: 26px 140px;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    &__nav {
        display: flex;
    }
}
.nav-up {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
    & li {
        margin-right:20px;
        &:nth-child(2){
            margin-right: 35px;
        }
        &:last-child {
            margin-right: 25px;
        }
    }
    &__item{
        position: relative;
    }
    &__link {
        color: $darkshade5;
    }
    &__style {
        font-weight: 700;
        color: $darkshade75;
    }
}





