header.header-up
  img.first-logo(src="/images/first-logo.svg", alt="first-logo")
  .header-up__container.container
    a(href="#")
      img(src="images/logo.svg", alt="logo") 
    nav.header-up__nav
      ul.nav-up
        li.nav-up__item 
          a(href="").nav-up__link.nav-up__style О нас
        li.nav-up__item 
          a(href="").nav-up__link Услуги
            img.nav-up__arrow(src="images/arrow.svg", alt="arrow")
        li.nav-up__item 
          a(href="").nav-up__link Вакансии
        li.nav-up__item 
          a(href="").nav-up__link Новости
        li.nav-up__item 
          a(href="").nav-up__link Соглашения
            img.nav-up__arrow(src="images/arrow.svg", alt="arrow")
      .nav-up__button
        form(action="") 
          a(href="#").nav-up__button-entry Войти    
          a(href="#").nav-up__button-registration Зарегистрироваться