header.header-up
  .header-up__container
    a(href="#")
      img(src="images/logo.svg", alt="logo") 
    nav.header-up__nav
      ul.nav-up
        li.nav-up__item 
          a(href="").nav-up__link.nav-up__style О нас
        li.nav-up__item
          span.material-icons_hd.material-icons expand_more
          a(href="").nav-up__link Услуги
        li.nav-up__item 
          a(href="").nav-up__link Вакансии
        li.nav-up__item 
          a(href="").nav-up__link Новости
        li.nav-up__item 
          a(href="").nav-up__link Соглашения
            span.material-icons_hd.material-icons expand_more
      .nav-up__button
        form(action="") 
          a(href="#").nav-up__button-entry Войти    
          a(href="#").nav-up__button-registration Зарегистрироваться