.appartment.cards-position40
    .appartment__img 
        ul 
            li: img(src="images/appartment1.png", alt="appartment")
            li 
            li 
            li 
        .appartment__img-slider-bar 
            ul 
                li 
                li 
                li 
                li 
        span.material-icons.material-icons_img-right expand_more
        span.material-icons.material-icons_img-left expand_more
    .appartment__body 
        .appartment__title 
            .find-number__header.cards-position20
                .find-number__name №<span>888</span> <span>люкс</span>
                .find-number__title <span>9 990₽</span> в сутки
            .appartment-feedback
                .appartment__rate-button-block
                    span.material-icons_star.material-icons star
                    span.material-icons_star.material-icons star
                    span.material-icons_star.material-icons star
                    span.material-icons_star.material-icons star
                    span.material-icons_star.material-icons star
                .appartment-block <span>145</span> Отзывов