.appartment {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    max-width: 270px;
    overflow-x: hidden;
    &__photo {
        position: relative;
        & ul {
            display: flex;
        }
    }
    &__img {
        position: relative;
    }
    &__slider-bar{
        position: absolute;
        top:80%;
        left: 79%;
        & ul {
            display: flex;
        }
        &-dots {
            width: 7.5px;
            height: 7.5px;
            border-radius: 50%;
            border: 1px solid #FFFFFF;
            margin-right: 3.75px;
            &:first-child {
                border: none;
                background: #FFFFFF;
            }
        }
    }
    &-feedback{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-block {
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
        & span {
            font-weight: 700;
        }
    }
    &__body {
        padding: 20px 17px 19px 20px;
    }
    &__title{
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top:38px;
            left: 0px;
            background: rgba(31, 32, 65, 0.1);
            height: 1px;
            width: 230px;
        }
    }
}

.material-icons {
    &_img-left {
        transform: rotate(90deg);
        top: 42%;
        right: 88%;
        color: #FFFFFF;
    }
    &_img-right {
        transform: rotate(-90deg);
        top: 42%;
        right: 4%;
        color: #FFFFFF;
    }
}