doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landing
    body 
        include ../components/headers & footers/header-up/header-up.pug
        .landing-page
            img(src="/images/landing-page.jpg", alt="registration")
            .landing-page-block
                .landing-page-block__text Лучшие номера для вашей работы, отдыха и просто вдохновения
        include ../components/headers & footers/footer/footer.pug
        