doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Landing
    body 
        .wrapper
            .landing-page__header
                include ../components/headers & footers/header/header-up.pug
            .landing-page
                .landing-page-block
                    .landing-page-block__text Лучшие номера для вашей работы, отдыха и просто вдохновения
                .find-number.landing-page_abs
                    h1.cards-position20 Найдём номера под ваши пожелания
                    .find-number__dropdown.cards-position20
                        form(action="")
                            .date
                                .date-dropdown
                                    .text-field__header 
                                        label.text-field__name(for="date-picker-cal1") Прибытие
                                    .text-field__body
                                        label(for="date-picker-cal1").material-icons expand_more
                                        input.text-field__input-date-dropdown.position-filter150(type="text" id="date-picker-cal1" placeholder="дд.мм.гг" autocomplete="off")
                                .date-dropdown
                                    .text-field__header 
                                        label.text-field__name(for="date-picker-cal2") Выезд
                                    .text-field__body
                                        label(for="date-picker-cal2").material-icons expand_more
                                        input.text-field__input-date-dropdown.position-filter150(type="text" id="date-picker-cal2" placeholder="дд.мм.гг" autocomplete="off")
                    .find-number__body.cards-position30
                        form(action="").position-filter320
                            .text-field__header 
                                label.text-field__name(for="field-guest") Гости
                            .text-field__body
                                label(for="field-guest").material-icons expand_more
                                input.text-field__input-guest.position-input-large-area(type="text" id="field-guest" placeholder="Сколько гостей")
                    .find-number__button-pay 
                        .button-pay
                            a(href="#").button-pay__link Подобрать номер
                                span.material-icons.material-icons_white arrow_forward
            .landing-page__footer  
                include ../components/headers & footers/footer/footer.pug
            