form(action="")
    .text-field__body.checkbox-buttons_position
        label.text-field__name(for="toggle") Toggle
    ul.text-field__toggle
        li 
            input#tg1.switch(
                type="checkbox" 
                checked
                )
            label(for="tg1") Получать спецпредложения 
        li 
            input#tg2.switch(
                type="checkbox"
                )
            label(for="tg2") Получать спецпредложения