.form-elements__toggle
    form(action="")
        .text-field__body.checkbox-buttons_position
            label.text-field__name(for="toggle") Toggle
        ul.text-field__toggle
            li 
                input(type="checkbox" class="switch" id="tg1" checked)
                label(for="tg1") Получать спецпредложения 
            li 
                input(type="checkbox" class="switch" id="tg2")
                label(for="tg2") Получать спецпредложения