section.form-elements
    img.first-logo(src="/images/first-logo.svg", alt="first-logo")
    .form-elements__container
        .form-elements_left
            .form-elements__text-field
                form(action="/")
                    .text-field__header 
                        label(for="field").text-field__name Text field 
                        label.text-field__name-fn default 
                    input.text-field__input.text-field__input_position(type="text" id="field" placeholder="Email" )
            .form-elements__text-field
                form(action="/") 
                    .text-field__header  
                        label.text-field__name(for="field_active") Text field
                        label.text-field__name-fn Hover / Focus 
                    input.text-field__input_active.text-field__input_position(type="text" id="field_active" placeholder="This is pretty awesome")
            .form-elements__dropdown-guest 
                form(action="")
                    .text-field__header 
                        label.text-field__name(for="field-guest") Dropdown
                    .text-field__body
                        label(for="field-guest").material-icons expand_more
                        input.text-field__input-guest.text-field__input_position(type="text" id="field-guest" placeholder="Сколько гостей")
            .form-elements__masked-text-field
                form(action="")
                    .text-field__header 
                        label.text-field__name(for="masked-text-field") Masked text field
                    input.text-field__masked-text-field.text-field__input_position(type="text" id="masked-text-field" placeholder="дд.мм.гг" ) 
            .form-elements__date-dropdown
                form(action="")
                    .date
                        .date-dropdown
                            .text-field__header 
                                label.text-field__name(for="date-picker") Date dropdown
                            .text-field__body
                                label(for="date-picker").material-icons expand_more
                                input.text-field__input-date-dropdown.text-field__input-date-dropdown_position(type="text" id="date-picker" placeholder="дд.мм.гг" autocomplete="off")
                        .date-dropdown
                            .text-field__header 
                                label.text-field__name(for="date-picker") Date dropdown
                            .text-field__body
                                label(for="date-picker").material-icons expand_more
                                input.text-field__input-date-dropdown.text-field__input-date-dropdown_position(type="text" id="date-picker" placeholder="дд.мм.гг" autocomplete="off")
        .form-elements_middle 
            .form-elements__text-field
                form(action="/")
                    .text-field__header 
                        label(for="field").text-field__name Text field 
                        label.text-field__name-fn default 
                    input.text-field__input.text-field__input_position(type="text" id="field" placeholder="Email" )
        .form-elements_right
            .form-elements__text-field
                form(action="/")
                    .text-field__header 
                        label(for="field").text-field__name Text field 
                        label.text-field__name-fn default 
                    input.text-field__input.text-field__input_position(type="text" id="field" placeholder="Email" )
            