@import "../colors&type/colors&type.scss";
.form-elements {
    background: #ffffff;
    &__container {
        display: flex;
        padding: 0 140px 131px;
    }
    &_left {
        margin-right: 126px;
    }
    &_middle {
        margin-right: 72px;
    }
    &__text-field{
        margin-bottom: 20px;
    }
    &__dropdown-guest {
        margin-bottom: 20px;
    }
    &__masked-text-field {
        margin-bottom: 40px;
    }
    &__date-dropdown {
        margin-bottom: 40px;
    }
    &__filter-date-dropdown {
        margin-bottom: 40px;
    }
    &__dropdown-default {
        margin-bottom: 20px;
    }
    &__dropdown-expanded {
        margin-bottom: 40px;
    }
    &__expandable-checkbox{
        margin-bottom: 20px;
    }
    &__expandable-checkbox-list{
        margin-bottom: 100px;
    }
    &__checkbox-buttons {
        margin-bottom: 40px;
    }
    &__radio-buttons{
        margin-bottom: 37px;
    }
    &__toggle {
        margin-bottom: 40px;
    }
    &__like-button {
        margin-bottom: 40px;
    }
    &__rate-button {
        margin-bottom: 196px;
    }
    &__dropdown{
        margin-bottom: 98px;
    }
    &__rich-checkbox-buttons{
        margin-bottom: 233px;
    }
    &__range-slider{
        margin-bottom: 40px;
    }
    &__buttons {
        margin-bottom: 40px;
    }
    &__button-pay {
        margin-bottom: 47px;
    }
    &__pagination {
        margin-bottom: 200px;
    }
    &__button {
        margin-bottom: 100px;
    }
}
.position-filter266 {
    max-width: 266px;
}
.position-filter255 {
    max-width: 255px;
}
.position-filter320 {
    max-width: 320px;
}
.position-filter150 {
    max-width: 150px;
}
.position-input-area{
    width: 266px;
    padding: 13px 40px 13px 15px;
}
.position-input-large-area {
    width: 320px;
    padding: 13px 40px 13px 15px;
}
.text-field{
    &__header{
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
    }
    &__input {
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        &::-webkit-input-placeholder {
            color: rgba(31, 32, 65, 0.25);
        }
        &:-moz-placeholder {
            color: rgba(31, 32, 65, 0.25);
        }
        &:hover{
            &::-webkit-input-placeholder {
                color: rgba(31, 32, 65, 0.75);
            }
            &:-moz-placeholder {
                color: rgba(31, 32, 65, 0.75);
            }
        }
        &:focus{
            &::-webkit-input-placeholder {
                color: rgba(31, 32, 65, 0.75);
            }
            &:-moz-placeholder {
                color: rgba(31, 32, 65, 0.75);
            } 
        }
        &_active{
            border: 1px solid rgba(31, 32, 65, 0.5);
            border-radius: 4px; 
            &::-webkit-input-placeholder {
                color: rgba(31, 32, 65, 0.75);
            }
            &:-moz-placeholder {
                color: rgba(31, 32, 65, 0.75);
            }
        }
        //input
    }
    &__name {
        font-weight: 700;
        font-size: 12px;
        line-height: calc(15 / 12 * 100%);
        text-transform: uppercase;
        color: #1F2041;
        &-fn {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: rgba(31, 32, 65, 0.5);  
        }
        &-expandable-checkbox-list{
            padding: 10px 0 0 0;
            font-weight: 700;
            font-size: 12px;
            line-height: calc(48 / 12 * 100%);
            text-transform: uppercase;
            color: #1F2041;
        }
        &-checkbox-buttons{
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #1F2041;
            text-transform: uppercase;
        }
    }
    &__body {
        position: relative; 
    }
    &__input-guest {
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
    }
    &__input-date-dropdown {
        position: relative;
        padding: 13px 30px 13px 15px;
        color:  rgba(31, 32, 65, 0.75);
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
            & span {
                position: absolute;
                top: 8px;
                right: 5px;
                color: rgba(31, 32, 65, 0.5);
            }    
    }
    //text-field
    &__masked-text-field {
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        &::-webkit-input-placeholder {
            color: rgba(31, 32, 65, 0.25);
            text-transform: uppercase;
        }
        &:-moz-placeholder {
            color: rgba(31, 32, 65, 0.25);
            text-transform: uppercase;  
        }
        &:hover{
            &::-webkit-input-placeholder {
                color: rgba(31, 32, 65, 0.75);
            }
            &:-moz-placeholder {
                color: rgba(31, 32, 65, 0.75);
            }
        }
        &:focus{
            &::-webkit-input-placeholder {
                color: rgba(31, 32, 65, 0.75);
            }
            &:-moz-placeholder {
                color: rgba(31, 32, 65, 0.75);
            } 
        }
    }
    &__input-filter-date-dropdown {
        color:  rgba(31, 32, 65, 0.75);
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 0 0 4px 4px;
        &-btn > button {
            background-color: #fff;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #BC9CFF;
            cursor: pointer;
        }
        &-btn {
            margin-bottom: 13px;
            & li:last-child{
            margin-bottom: 20px;
            }
        }
        &-dropdown li{
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
        }
        &-btn_col {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
            margin: 7px;
            & span {
                margin: 0 10px;
            }
            & button {
                width: 30px;
                height: 30px;
                border: 1px solid rgba(31, 32, 65, 0.25);
                border-radius: 50%;
                background-color: #fff;
                color: rgba(31, 32, 65, 0.5);
                &:hover {
                    opacity: 0.38;
                }
            }
        }

    }
    &__input-dropdown-default {
        color:  rgba(31, 32, 65, 0.75);
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px 4px 0 0;
    }
    &__list-dropdown {
        margin-left: 13px;
        & li {
            margin-bottom: 22px;
            &:first-child {
                margin-top: 13px;
            }
            &:last-child {
                margin-bottom: 17px;
            }
        }
    }
    &__expandable-checkbox-list li {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.5);
        margin: 0 0 10px 0px;
        &:first-child {
            margin-top: 5px;
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &__expandable-checkbox-list {
        & span {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.75);
        }
        & p {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: rgba(31, 32, 65, 0.5);
        }
        & input[type="checkbox"]:checked,
         input[type="checkbox"]:not(:checked){
            position: absolute;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
        }
        & input[type="checkbox"]:checked + label,
         input[type="checkbox"]:not(:checked) + label{
            position: relative;
            display: inline-block;
            padding-left: 30px;
            line-height: 21px;
            cursor: pointer;
        }
        & input[type="checkbox"]:not(:checked) + label::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
        }
        & input[type="checkbox"]:checked + label::before{    
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                border: 1px solid #8BA4F9;
                border-radius: 4px;
        }
       & input[type="checkbox"]:checked + label::after,
       input[type="checkbox"]:not(:checked) + label::after{
            content: "";
            position: absolute;
            top: 6px;
            left: 6px;
            width: 8px;
            height: 6px;
            border-left: 2px solid #8BA4F9;
            border-bottom: 2px solid #8BA4F9;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        & input[type="checkbox"]:checked + label::after {
            opacity: 1;
            }
        & input[type="checkbox"]:not(:checked) + label::after {
            opacity: 0;
            }
    }
    //text-field
    &__radio-buttons{
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.5);
        & li {
            margin-right: 20px;
        }
        & input[type="radio"]:checked,
         input[type="radio"]:not(:checked){
            position: absolute;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
        }
        & input[type="radio"]:checked + label,
         input[type="radio"]:not(:checked) + label{
            position: relative;
            display: inline-block;
            padding-left: 30px;
            line-height: 21px;
            cursor: pointer;
        }
        & input[type="radio"]:not(:checked) + label::before,
        input[type="radio"]:checked + label::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 100%
        }
        & input[type="radio"]:checked + label::after,
        input[type="radio"]:not(:checked) + label::after{
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 12px;
            height: 12px;
            background-color:  #8BA4F9;
            border-radius:100%;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        & input[type="radio"]:checked + label::after {
            opacity: 1;
        }
        & input[type="radio"]:not(:checked) + label::after {
            opacity: 0;
        }
    }
    &__toggle {
        & li {
            margin-bottom: 14px;
        }
        & input.switch[type="checkbox"]:checked,
         input.switch[type="checkbox"]:not(:checked){
            position: absolute;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
        }
        & input.switch[type="checkbox"]:checked + label,
         input.switch[type="checkbox"]:not(:checked) + label{
            position: relative;
            display: inline-block;
            padding-left: 50px;
            line-height: 21px;
            cursor: pointer;
        }
        & input.switch[type="checkbox"]:not(:checked) + label::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 20px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 10px;
        }
        & input.switch[type="checkbox"]:checked + label::before{    
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 20px;
            border: 1px solid #8BA4F9;
            border-radius: 10px;
        }
        & input.switch[type="checkbox"]:not(:checked) + label::after{
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 14px;
            height: 14px;
            background-color:  rgba(31, 32, 65, 0.25);
            border-radius:100%;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }  
        & input.switch[type="checkbox"]:checked + label::after{
            content: "";
            position: absolute;
            top: 3px;
            left: 23px;
            width: 14px;
            height: 14px;
            background-color:  #8BA4F9;
            border-radius:100%;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }    
    }
    //text-field
    &__like-button {
        display: flex;
        &-block {
            margin-right: 20px;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: rgba(31, 32, 65, 0.25);
            &_position-like{
                position: relative;
            }
        }
        & input.like[type="checkbox"]:checked,
        input.like[type="checkbox"]:not(:checked){
           position: absolute;
           opacity: 0;
           visibility: hidden;
           z-index: -1;
       }
       & input.like[type="checkbox"]:checked + label,
        input.like[type="checkbox"]:not(:checked) + label{
           position: relative;
           display: inline-block;
           padding-left: 22px;
           line-height: 21px;
           cursor: pointer;
       }
       & input.like[type="checkbox"]:not(:checked) + label::before{
           content: "";
           position: absolute;
           top: 0;
           left: 0;
           width: 40px;
           height: 20px;
           border: 1px solid rgba(31, 32, 65, 0.25);
           border-radius: 10px;
           z-index: 2;
       }
       & input.like[type="checkbox"]:checked + label::before{    
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 20px;
            border: 1px solid #8BA4F9;
            border-radius: 10px;
            z-index: 2;
            &_position-like{
                position: relative;
            }
       }
       & input.like[type="checkbox"]:not(:checked) + label::after{
        //    content: "";
        //    position: absolute;
        //    border: rgba(31, 32, 65, 0.25);
        //    -webkit-transition: all 0.2s ease;
        //    -moz-transition: all 0.2s ease;
        //    -o-transition: all 0.2s ease;
        //    transition: all 0.2s ease;
       }  
       & input.like[type="checkbox"]:checked + label::after{
        //    content: "";
        //    position: absolute;
        //    color: #8BA4F9;
        //    -webkit-transition: all 0.2s ease;
        //    -moz-transition: all 0.2s ease;
        //    -o-transition: all 0.2s ease;
        //    transition: all 0.2s ease;
       } 
    }
    //text-field
    &__rate-button{
        display: flex;
        flex-direction: row;
        &-block {
            margin-right: 20px;
        }
    }
}
.date { 
    display: flex;
    flex-direction: row; 
    margin-bottom: 5px;
    &-dropdown {
        margin-right: 20px;
    }    
}
.material-icons {
    position: absolute;
    top: 25%;
    right: 4%;
    color: rgba(31, 32, 65, 0.5);
    z-index: 1;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &_purpure {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-size: 48px;
        top: 0;
        right: 0;
        cursor: default;
    }
    &_like {
        top: 5px;
        left: 5px;
        font-size: 10px;
        z-index: 1;
    }
    &_star {
        position: relative;
        font-size: 24px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

    }
    &_arrow {
        top: -3px;
        right: 12px;
        color: #8BA4F9;
        font-size: 24px;
    }
    &_hd {
        top: -4px;
        right: -23px;
    }
    &_white {
        top: 23%;
        color: #ffffff;
        &:hover{
            opacity: 1;
        }
    }
    &_pagination {
        top: 7px;
        left: 2px;
        color: #ffffff;
    }
}
.icons-block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    &__img {
        position: relative;
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }
    &__body {
        & p:first-child {
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
        }
        & p:last-child {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
        }
        &::after {
            content:"";
            position: absolute;
            top: 65px;
            left: 0;
            width: 280px;
            height: 1px;
            background: rgba(31, 32, 65, 0.1);
        }
    }
}
.checkbox-buttons_position{
    margin-bottom: 17px;
    &-star {
        margin-bottom: 10px;
    }
}
.range-slider_position{
    margin-bottom: 20px;
}
.review {
    display: flex;
    & img {
        margin-top: -11px;
        margin-left: -21px;
    }
    &__name {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        & p {
            font-weight: 700;
        }
    }
    &__body {
        display: flex;
        & p {
            margin-top: -6px;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
        }
    }
    &__block {
        margin-right: 14px;
    }
}
.range-slider {
    width: 100%;
    cursor: pointer;
    // &::-moz-range-thumb,
    // ::-webkit-slider-thumb,
    // ::-ms-thumb {
    //     background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    //     border: 2px solid #FFFFFF;
    //     border-radius: 10px;
    // }
}
.button-position {
    margin: 0 23px 30px 1px;
}
.button-position_sec {
    margin: 0 18px 30px 0px;
}
.button-position_th {
    margin-right: 20px;
}
.button {
    &-click{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        padding: 14px 21px 15px 19px;
        &_active {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 22px;
            opacity: 0.5;
            padding: 14px 21px 15px 19px;
        }
        &-sec {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #BC9CFF;
            border: 2px solid #BC9CFF;
            border-radius: 22px;
            background: #ffffff;
            padding: 14px 20px 15px;
            &_active {
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: #BC9CFF;
                border: 2px solid #BC9CFF;
                border-radius: 22px;
                background: #ffffff;
                opacity: 0.5;
                padding: 14px 20px 15px;
            }
        }
        &_th {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #BC9CFF;
            background:#ffffff;
            &_active{
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                color: rgba(31, 32, 65, 0.5);
                background:#ffffff;
            }
        }
    }
}
.button-pay {
    max-width: 320px;
    & a {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 14px 0px 15px;
    }
    &__link {
        display: block;
        position: relative;
        &:hover{
            opacity: 0.8;
        }
    }
}
.bullet-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    & li {
        margin:0 0 0 21px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 10px;
            width: 10px;
            top: 7px;
            right: 245px;
            border-radius: 100%;
            background: rgba(31, 32, 65, 0.25);
        }
    }
}
.pagination {
    &__body {
        font-weight: 400;
        font-size: 12px;
        line-height: 40px;
        color: rgba(31, 32, 65, 0.5);
        margin-bottom: 11px;
        & button {
            display: inline-block;
            align-items: center;
            text-align: center;
            width: 40px;
            height: 40px;
            background: #ffffff;
            &:first-child{
                color: #fff;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                border-radius: 22px;
            }
            &:last-child {
                position: relative;
                padding-top: 10px;
                background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
                border-radius: 22px;
            }
        } 
    }
    &__count {
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
}