section.form-elements
    img.first-logo(src="/images/first-logo.svg", alt="first-logo")
    .form-elements__container
        .form-elements_left
            .form-elements__text-field
                form(action="/").position-filter320
                    .text-field__header
                        label(for="field").text-field__name Text field 
                        label.text-field__name-fn default 
                    input.text-field__input.position-input-large-area(type="text" id="field" placeholder="Email" )
            .form-elements__text-field
                form(action="/").position-filter320
                    .text-field__header  
                        label.text-field__name(for="field_active") Text field
                        label.text-field__name-fn Hover / Focus 
                    input.text-field__input_active.position-input-large-area(type="text" id="field_active" placeholder="This is pretty awesome")
            .form-elements__dropdown-guest 
                form(action="").position-filter320
                    .text-field__header 
                        label.text-field__name(for="field-guest") Dropdown
                    .text-field__body
                        label(for="field-guest").material-icons expand_more
                        input.text-field__input-guest.position-input-large-area(type="text" id="field-guest" placeholder="Сколько гостей")
            .form-elements__masked-text-field
                form(action="")
                    .text-field__header 
                        label.text-field__name(for="masked-text-field") Masked text field
                    input.text-field__masked-text-field.position-input-large-area(type="text" id="masked-text-field" placeholder="дд.мм.гг" ) 
            .form-elements__date-dropdown
                form(action="")
                    .date
                        .date-dropdown
                            .text-field__header 
                                label.text-field__name(for="date-picker") Date dropdown
                            .text-field__body
                                label(for="date-picker").material-icons expand_more
                                input.text-field__input-date-dropdown.position-filter150(type="text" id="date-picker" placeholder="дд.мм.гг" autocomplete="off")
                        .date-dropdown
                            .text-field__header 
                                label.text-field__name(for="date-picker") Date dropdown
                            .text-field__body
                                label(for="date-picker").material-icons expand_more
                                input.text-field__input-date-dropdown.position-filter150(type="text" id="date-picker" placeholder="19.08.2019" autocomplete="off")
            .form-elements__filter-date-dropdown
                form(action="").position-filter266
                    .text-field__header 
                        label.text-field__name(for="date-picker") Filter date dropdown
                    .text-field__body
                        label(for="date-picker").material-icons expand_more
                        input.text-field__input-filter-date-dropdown.position-input-area(type="text" id="date-picker" placeholder="19 авг - 23 авг" autocomplete="off")
            .form-elements__button
                form(action="")     
                    .text-field__header 
                        label.text-field__name(for="before") Subscription text field
                    input.footer-up__input.position-input-area(type="text" placeholder="Email" name="button")
                    label.footer-up__arrow(for="before")
                    a.footer-up__arrow(href="#") 
                        span.material-icons.material-icons_arrow arrow_forward  
            .form-elements__dropdown-default
                form(action="").position-filter266
                    .text-field__header
                        label.text-field__name(for="dropdown-default") Dropdown
                        label.text-field__name-fn Default 
                    .text-field__body
                        label(for="dropdown-default").material-icons expand_more
                        input.text-field__input-dropdown-default.position-input-area(type="text" id="dropdown-default" placeholder="2 спальни, 2 кровати...")
            .form-elements__dropdown-expanded
                form(action="").position-filter266
                    .text-field__header
                        label.text-field__name(for="expanded") Dropdown
                        label.text-field__name-fn Expanded 
                    .text-field__body
                        label(for="expanded").material-icons expand_more
                        input.text-field__input-dropdown-default.position-input-area(type="text" id="expanded" placeholder="2 спальни, 2 кровати...")
                    .text-field__list
                        .text-field__list-dropdown
                            ul 
                                li Спальни
                                li Кровати
                                li Ванные комнаты 
                        .text-field__list-btn  
                            ul  
                                li.text-field__list-btn_col
                                    button -
                                    span 2
                                    button +
                                li.text-field__list-btn_col
                                    button -
                                    span 2
                                    button +
                                li.text-field__list-btn_col
                                    button -
                                    span 2
                                    button +
            .form-elements__expandable-checkbox
                form(action="").position-filter266
                    .text-field__body
                        label.text-field__name-expandable-checkbox-list(for="Expandable checkbox list") Expandable checkbox list
                        label(for="Expandable checkbox list").material-icons expand_more
            .form-elements__expandable-checkbox-list
                form(action="").position-filter266
                    .text-field__body
                        label.text-field__name-expandable-checkbox-list(for="Expandable checkbox list") Expandable checkbox list
                        label(for="Expandable checkbox list").material-icons expand_less
                    ul.text-field__expandable-checkbox-list
                        li  
                            input(type="checkbox" id="ch1")
                            label(for="ch1") Завтрак
                        li  
                            input(type="checkbox" id="ch2" checked)
                            label(for="ch2") Письменный стол
                        li 
                            input(type="checkbox" id="ch3" checked)
                            label(for="ch3") Стул для кормления
                        li  
                            input(type="checkbox" id="ch4" checked)
                            label(for="ch4") Кроватка
                        li  
                            input(type="checkbox" id="ch5")
                            label(for="ch5") Телевизор
                        li  
                            input(type="checkbox" id="ch6")
                            label(for="ch6") Шампунь 
            .form-elements__icons-block 
                .icons-block
                    .icons-block__img 
                        span.material-icons.material-icons_purpure insert_emoticon
                    .icons-block__body 
                        p Комфорт
                        p Шумопоглощающие стены
                .icons-block
                    .icons-block__img 
                        span.material-icons.material-icons_purpure location_city
                    .icons-block__body
                        p Удобство
                        p Окно в каждой из спален
        .form-elements_middle 
            .form-elements__checkbox-buttons
                form(action="")
                    .text-field__body.checkbox-buttons_position
                        label.text-field__name-checkbox-buttons(for="checkbox-buttons") Checkbox Buttons
                    ul.text-field__expandable-checkbox-list
                        li  
                            input(type="checkbox" id="cb1")
                            label(for="cb1") Можно курить
                        li  
                            input(type="checkbox" id="cb2" checked)
                            label(for="cb2") Можно с питомцами
                        li 
                            input(type="checkbox" id="cb3" checked)
                            label(for="cb3") Можно пригласить гостей <br> (до 10 человек)
            .form-elements__radio-buttons
                form(action="")
                    .text-field__body.checkbox-buttons_position
                        label.text-field__name-checkbox-buttons(for="radio-buttons") Radio Buttons
                    ul.text-field__radio-buttons
                        li 
                            input(type="radio" name="rb" id="rb1" checked)
                            label(for="rb1") Мужчина 
                        li 
                            input(type="radio" name="rb" id="rb2")
                            label(for="rb2") Женщина 
            .form-elements__toggle
                form(action="")
                    .text-field__body.checkbox-buttons_position
                        label.text-field__name-checkbox-buttons(for="toggle") Toggle
                    ul.text-field__toggle
                        li 
                            input(type="checkbox" class="switch" id="tg1" checked)
                            label(for="tg1") Получать спецпредложения 
                        li 
                            input(type="checkbox" class="switch" id="tg2")
                            label(for="tg2") Получать спецпредложения
            .form-elements__like-button
                form(action="")
                    .text-field__body.checkbox-buttons_position
                        label.text-field__name-checkbox-buttons(for="like-button") Like button
                    .text-field__like-button
                        .text-field__like-button-block.text-field__like-button-block_position-like
                            span.material-icons.material-icons_like favorite_border
                            input(type="checkbox" class="like" id="lb1")
                            label(for="lb1") 2
                        .text-field__like-button-block.text-field__like-button-block_position-like
                            span.material-icons.material-icons_like favorite
                            input(type="checkbox" class="like" id="lb2" checked)
                            label(for="lb2") 12
            .form-elements__rate-button
                form(action="")
                    .text-field__body.checkbox-buttons_position-star
                        label.text-field__name-checkbox-buttons(for="rate-button") Like button
                    .text-field__rate-button
                        .text-field__rate-button-block
                            span.material-icons_star.material-icons star
                            span.material-icons_star.material-icons star
                            span.material-icons_star.material-icons star
                            span.material-icons_star.material-icons star
                            span.material-icons_star.material-icons star_border
                            //- input(type="checkbox" class="rate" id="rb1")
                        .text-field__rate-button-block
                            span.material-icons_star.material-icons star
                            span.material-icons_star.material-icons star
                            span.material-icons_star.material-icons star
                            span.material-icons_star.material-icons star
                            span.material-icons_star.material-icons star
                            //- input(type="checkbox" class="rate" id="rb1")
            .form-elements__dropdown
                form(action="").position-filter320
                    .text-field__header
                        label.text-field__name(for="dropdown") Dropdown 
                    .text-field__body
                        label(for="dropdown").material-icons expand_more
                        input.text-field__input-dropdown-default.position-input-large-area(type="text" id="dropdown" placeholder="Сколько гостей")
                    .text-field__list
                        .text-field__list-dropdown.iqdropdown
                            ul 
                                li Взрослые
                                li Дети
                                li Младенцы
                        .text-field__list-btn  
                            ul  
                                li.text-field__list-btn_col
                                    button -
                                    span 0
                                    button +
                                li.text-field__list-btn_col
                                    button -
                                    span 0
                                    button +
                                li.text-field__list-btn_col
                                    button -
                                    span 0
                                    button +
                            button Применить
            .form-elements__rich-checkbox-buttons
                form(action="").position-filter266
                    .text-field__body.position-filter
                        label.text-field__name-expandable-checkbox-list(for="Rich checkbox buttons") Rich checkbox buttons
                    ul.text-field__expandable-checkbox-list
                        li  
                            input(type="checkbox" id="rc1")
                            label(for="rc1") <span>Широкий коридор</span> <br>
                                p Ширина коридоров в номере не менее 91 см.
                        li  
                            input(type="checkbox" id="rc2")
                            label(for="rc2") <span>Помощник для инвалидов</span><br> 
                                p На 1 этаже вас встретит специалист  и проводит до номера.
            .form-elements__review
                form(action="")
                    .review
                        img(src="/images/avatar.svg", alt="avatar")
                        .review__name
                            p Мурад Сарафанов
                            span  5 дней назад
                    .review__body
                        .text-field__like-button.review__block
                            .text-field__like-button-block.text-field__like-button-block_position-like
                                span.material-icons.material-icons_like favorite_border
                                input(type="checkbox" class="like" id="like-review")
                                label(for="like-review") 2
                        p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
        .form-elements_right
            .form-elements__range-slider
                    form(action="/").position-filter266
                        .text-field__header.range-slider_position
                            label.text-field__name(for="range-slider") Range slider
                            label.text-field__name-fn 5 000₽ - 10 000₽
                        .slider-styled(id="slider")
            .form-elements__buttons
                form(action="").position-filter266 
                    .text-field__header.range-slider_position
                                label.text-field__name(for="button-click") Buttons
                    .button
                        button.button-click.button-position click me
                        button.button-click_active click me
                        button.button-click-sec.button-position_sec click me
                        button.button-click-sec_active click me
                        button.button-click_th.button-position_th click me
                        button.button-click_th_active click me
            .form-elements__button-pay 
                .button-pay
                    a(href="#").button-pay__link Перейти к оплате
                        span.material-icons.material-icons_white arrow_forward  
            .form-elements__pagination 
                form(action="") 
                    .text-field__header.range-slider_position
                        label.text-field__name(for="pagination") Pagination
                    .pagination
                        .pagination__body 
                            button 1
                            button 2
                            button 3
                            button ...
                            button 15
                            button
                                span.material-icons.material-icons_pagination arrow_forward  
                        .pagination__count 1 – 12 из 100+ вариантов аренды
            .form-elements__dropdown
                form(action="")
                    .text-field__header
                        label.text-field__name(for="dropdown") Dropdown 
                    .text-field__body
                        label(for="dropdown").material-icons expand_more
                        input.text-field__input-dropdown-default.position-input-large-area(type="text" id="dropdown" placeholder="3 гостя")
                    .text-field__list
                        .text-field__list-dropdown
                            ul 
                                li Взрослые
                                li Дети
                                li Младенцы
                        .text-field__list-btn  
                            ul  
                                li.text-field__list-btn_col
                                    button -
                                    span 2
                                    button +
                                li.text-field__list-btn_col
                                    button -
                                    span 1
                                    button +
                                li.text-field__list-btn_col
                                    button -
                                    span 0
                                    button +
                            button Применить
            .form-elements__bullet-list
                form(action="").position-filter255
                    .text-field__header
                        label.text-field__name(for="bullet-list") Bullet list 
                    .text-field__body.bullet-list
                        ul 
                            li Нельзя с питомцами
                            li Без вечеринок и мероприятий
                            li Время прибытия — после 13:00, а выезд до 12:00
                            