section.form-elements
    img.first-logo(src="/images/first-logo.svg", alt="first-logo")
    .form-elements__container
        .form-elements_left
            .form-elements__text-field
                form(action="/")
                    .text-field__header 
                        label(for="field").text-field__name Text field 
                        label.text-field__name-fn default 
                    input.text-field__input.text-field__input_position(type="text" id="field" placeholder="Email" )
            .form-elements__text-field
                form(action="/") 
                    .text-field__header  
                        label.text-field__name(for="field_active") Text field
                        label.text-field__name-fn Hover / Focus 
                    input.text-field__input_active.text-field__input_position(type="text" id="field_active" placeholder="This is pretty awesome")
            .form-elements__dropdown-guest 
                form(action="")
                    .text-field__header 
                        label.text-field__name(for="field-guest") Dropdown
                    .text-field__body
                        label(for="field-guest").material-icons expand_more
                        input.text-field__input-guest.text-field__input_position(type="text" id="field-guest" placeholder="Сколько гостей")
            .form-elements__masked-text-field
                form(action="")
                    .text-field__header 
                        label.text-field__name(for="masked-text-field") Masked text field
                    input.text-field__masked-text-field.text-field__input_position(type="text" id="masked-text-field" placeholder="дд.мм.гг" ) 
            .form-elements__date-dropdown
                form(action="")
                    .date
                        .date-dropdown
                            .text-field__header 
                                label.text-field__name(for="date-picker") Date dropdown
                            .text-field__body
                                label(for="date-picker").material-icons expand_more
                                input.text-field__input-date-dropdown.text-field__input-date-dropdown_position(type="text" id="date-picker" placeholder="дд.мм.гг" autocomplete="off")
                        .date-dropdown
                            .text-field__header 
                                label.text-field__name(for="date-picker") Date dropdown
                            .text-field__body
                                label(for="date-picker").material-icons expand_more
                                input.text-field__input-date-dropdown.text-field__input-date-dropdown_position(type="text" id="date-picker" placeholder="дд.мм.гг" autocomplete="off")
            .form-elements__filter-date-dropdown
                form(action="")
                    .text-field__header 
                        label.text-field__name(for="date-picker") Filter date dropdown
                    .text-field__body.position-filter
                        label(for="date-picker").material-icons expand_more
                        input.text-field__input-filter-date-dropdown.text-field__input-filter-date-dropdown_position(type="text" id="date-picker" placeholder="19 авг - 23 авг" autocomplete="off")
            .footer-up__button
                form(action="") 
                    .text-field__header 
                        label.text-field__name(for="before") Subscription text field
                    input.footer-up__input.text-field__subscription-text-field(type="text" placeholder="Email" name="button")
                    label.footer-up__arrow(for="before")
                    a.footer-up__arrow(href="#") 
                        img(src="/images/arrow_forward.svg", alt="arrow_forward") 
            .form-elements__dropdown-default
                form(action="")
                    .text-field__header.position-filter
                        label.text-field__name(for="dropdown-default") Dropdown
                        label.text-field__name-fn Default 
                    .text-field__body.position-filter
                        label(for="dropdown-default").material-icons expand_more
                        input.text-field__input-dropdown-default.text-field__dropdown-default_position(type="text" id="dropdown-default" placeholder="2 спальни, 2 кровати...")
            .form-elements__dropdown-expanded.position-filter
                form(action="").position-filter
                    .text-field__header
                        label.text-field__name(for="expanded") Dropdown
                        label.text-field__name-fn Expanded 
                    .text-field__body
                        label(for="expanded").material-icons expand_more
                        input.text-field__input-dropdown-expanded.text-field__dropdown-expanded_position(type="text" id="expanded" placeholder="2 спальни, 2 кровати...")
                    .text-field__list
                        .text-field__list-dropdown
                            ul 
                                li Спальни
                                li Кровати
                                li Ванные комнаты 
                        .text-field__list-btn  
                            ul  
                                li.text-field__list-btn_col
                                    button -
                                    span 2
                                    button +
                                li.text-field__list-btn_col
                                    button -
                                    span 2
                                    button +
                                li.text-field__list-btn_col
                                    button -
                                    span 2
                                    button +
            .form-elements__expandable-checkbox
                form(action="")
                    .text-field__body.position-filter
                        label.text-field__name-expandable-checkbox-list(for="Expandable checkbox list") Expandable checkbox list
                        label(for="Expandable checkbox list").material-icons expand_more
            .form-elements__expandable-checkbox-list
                form(action="")
                    .text-field__body.position-filter
                        label.text-field__name-expandable-checkbox-list(for="Expandable checkbox list") Expandable checkbox list
                        label(for="Expandable checkbox list").material-icons expand_less
                    ul.text-field__expandable-checkbox-list
                        li  
                            input(type="checkbox" id="ch1")
                            label(for="ch1") Завтрак
                        li  
                            input(type="checkbox" id="ch2" checked)
                            label(for="ch2") Письменный стол
                        li 
                            input(type="checkbox" id="ch3" checked)
                            label(for="ch3") Стул для кормления
                        li  
                            input(type="checkbox" id="ch4" checked)
                            label(for="ch4") Кроватка
                        li  
                            input(type="checkbox" id="ch5")
                            label(for="ch5") Телевизор
                        li  
                            input(type="checkbox" id="ch6")
                            label(for="ch6") Шампунь 
            .form-elements__icons-block 
                .icons-block
                    .icons-block__img 
                        span.material-icons.material-icons_purpure insert_emoticon
                    .icons-block__body 
                        p Комфорт
                        p Шумопоглощающие стены
                .icons-block
                    .icons-block__img 
                        span.material-icons.material-icons_purpure location_city
                    .icons-block__body
                        p Удобство
                        p Окно в каждой из спален
        .form-elements_middle 
            .form-elements__checkbox-buttons
                form(action="")
                    .text-field__body.checkbox-buttons_position
                        label.text-field__name-checkbox-buttons(for="checkbox-buttons") Checkbox Buttons
                    ul.text-field__expandable-checkbox-list
                        li  
                            input(type="checkbox" id="cb1")
                            label(for="cb1") Можно курить
                        li  
                            input(type="checkbox" id="cb2" checked)
                            label(for="cb2") Можно с питомцами
                        li 
                            input(type="checkbox" id="cb3" checked)
                            label(for="cb3") Можно пригласить гостей <br> (до 10 человек)
            .form-elements__radio-buttons
                form(action="")
                    .text-field__body.checkbox-buttons_position
                        label.text-field__name-checkbox-buttons(for="radio-buttons") Radio Buttons
                    ul.text-field__radio-buttons
                        li 
                            input(type="radio" name="rb" id="rb1" checked)
                            label(for="rb1") Мужчина 
                        li 
                            input(type="radio" name="rb" id="rb2")
                            label(for="rb2") Женщина 
            .form-elements__toggle
                form(action="")
                    .text-field__body.checkbox-buttons_position
                        label.text-field__name-checkbox-buttons(for="toggle") Toggle
                    ul.text-field__toggle
                        li 
                            input(type="checkbox" class="switch" id="tg1" checked)
                            label(for="tg1") Получать спецпредложения 
                        li 
                            input(type="checkbox" class="switch" id="tg2")
                            label(for="tg2") Получать спецпредложения
        .form-elements_right
