<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='description' content='Сайт отеля Toxin по подбору номеров')
        meta(name='keywords' content='отель, хостел, аренда номера, номера')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Toxin
        link(rel="stylesheet" href="styles/style.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="icon" href="images/ico.ico")
    body
        .wrapper    
            include components/form-elements/form-elements.pug
            .marBtm40 
                img.first-logo(src="images/first-logo.svg" alt="logo")
                include components/cards/cards.pug
            .marBtm40
                img.first-logo(src="images/first-logo.svg" alt="logo")
                include components/headers & footers/header/header-up.pug
            .marBtm40
                include components/headers & footers/header/header-down.pug
            .marBtm40
                include components/headers & footers/footer/footer.pug
            .marBtm40
                include components/headers & footers/footer-mobile/footer-mobile.pug
                include components/colors&type/colors&type.pug
            .marBtm40
                include page/room-details.pug
            .marBtm40
                include page/sign-in.pug
            .marBtm40
                include page/registration.pug
            .marBtm40
                include page/landing-page.pug
                //- include page/search-room.pug
        script(src='main.js')


