<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='description' content='Сайт отеля Toxin по подбору номеров')
        meta(name='keywords' content='отель, хостел, аренда номера, номера')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Toxin
        link(rel="stylesheet" href="/styles/style.css")
        link(rel="icon" href="/images/ico.ico")
    body
        .container 
            .toxin-navigation 
                a(href="page/ui-kit.pug") Ui-kit
                a(href="page/sign-in.pug") Sign-in
                a(href="page/landing-page.pug") Landing-page 
                a(href="page/registration.pug") Registration
                a(href="page/room-details.pug") Room-details
                a(href="page/search-room.pug") Search-room
        script(src='main.js')


