<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='description' content='Краткое описание страницы в браузере.')
    meta(name='keywords' content='ключевые слова')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Ui-kit
    link(rel="stylesheet", href="styles/style.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    .wrapper
      include components/form-elements/form-elements.pug 
      img.first-logo(src="/images/first-logo.svg", alt="first-logo")
      include components/cards/cards.pug
      .position40
        img.first-logo(src="/images/first-logo.svg", alt="first-logo")
        include components/headers & footers/header-up/header-up.pug
      .position40
        include components/headers & footers/header-down/header-down.pug
      include components/headers & footers/footer/footer.pug
      include components/headers & footers/footer-mobile/footer-mobile.pug
      include components/colors&type/colors&type.pug
      include page/landing-page.pug
      include page/registration.pug
      include page/search-room.pug
      include page/sign-in.pug
script(src='./main.js')