@import "../../colors&type/colors&type.scss";
.header-up {
    &__container {
        background-color: #ffffff;
        padding: 26px 140px;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    &__nav {
        display: flex;
    }
}
.nav-up {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 40px;
    &__item {
        margin-right:20px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        color: $darkshade5;
    }
    &__style {
        font-weight: 700;
        color: $darkshade75;
    }
    &__button-entry {
        border: 2px solid $purple;
        margin-right: 20px;
        border-radius: 22px;
        padding: 7px 20px 8px;
        font-weight: 700;
        font-size: 12px;
        line-height: calc(15 / 12 * 100%);
        text-transform: uppercase;
        background-color: #ffffff;
        color: $purple;
        cursor: pointer;
    }
    &__button-registration {
        padding: 9px 20px 10px 19px;
        font-weight: 700;
        font-size: 12px;
        line-height: calc(15 / 12 * 100%);
        text-transform: uppercase;
        color: #ffffff;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        border-radius: 22px;
        cursor: pointer;
    }
    &__user {
        & a {
            line-height: calc(17 / 14 * 100%);
            color: $darkshade5;
        }
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -8px;
            left: -20px;
            width: 1px;
            height: 30px;
            background: rgba(31, 32, 65, 0.1);
        }
    }
}





